/**********************************************
 * Login CSS
 * 
 * @author yxl
 * @date 2019-01-08
 * @id 8326a048d4a16f2e2edc42cc97f4129c
 *************************************************/
#jqInput3aad1 {
	margin-top: 70%;
	font-size: 45px;
}

#jqInput3aad1_label {
	font-size: 41px;
	width: 30%;
	margin-top: 55%;
	color: white;
}

.jqInput3aad1_div {
	margin-top: -44%;
}

.jqButton .jqButton-btn {
	width: 270%;
	height: 100px;
	border-radius: 20%;
	font-size: 72px;
	margin-left: 270%;
	margin-top: 70%;
	color: #bf1a20;
	background-color: #f6e070;
	font-family: cursive;
}

��jqfa-label jqfa-label-default {
	width: 25%;
}

.jqInput, .jqIdentity, .jqTextArea, .jqNumeric-input, .jqPassword-input,
	.jqTrigger-input, .jqDate-input, .jqSelectTree-input,
	.jqSelectList-input {
	width: 100%;
	height: 53px;
}
/*����ͼƬ�޸�*/
body {
	background: url('../../logo/newlogin.png'); /*�޸�ͼƬ���·��*/
	text-align: center; /*ͼƬλ��*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; /*�ײ�**��������ֱ�Ӹ��Ƽ���*/
}
.jqButton .jqButton-btn{
     border-radius: 34px;
}